<div class="backdrop" id="backdrop"></div>

<main class="main">
    <section class="info-card">
        <h1>Welcome to Ultimate Dungeon</h1>
    </section>
</main>

<script src="/js/home.js" defer></script>