<div class="backdrop" id="backdrop"></div>

<head>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<main class="main">
    <section class="info-card">
        <h1>Welcome to Ultimate Dungeon</h1>
    </section>
</main>

<script src="/js/home.js" defer></script>