<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />
    <title>Ultimate Dungeon</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="page">
      {{> header}}
      {{{body}}}
    </div>
    <script src="/js/drawer.js" defer></script>
    <script src="/js/app.js" defer></script>
  </body>
</html>